body {
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
}

header {
  padding: 20px;
  background-color: #00a8e8;
  color: white;
}

footer {
  padding: 7px;
  background-color: #00a8e8;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 5%;
}

h1,
h2 {
  margin-bottom: 20px;
  font-family: "Times New Roman", serif;
}

.card-section {
  background-color: #00c3ff;
  padding: 5%;
}

.card-buttons {
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  width: 317px;
  padding: 0%;
  margin: 0%;
  border: 5px solid #4444ff;
  text-align: center;
  border-radius: 10px;
}

.card-header {
  font-weight: bold;
  font-family: "Times New Roman", serif;
}

.card-numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5%;
  margin: 5% auto;
  width: 90%;
}

.bingo-number {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d8d8ff;
  margin: 5px;
  line-height: 35px;
  font-family: "Arial", sans-serif;
}

.free-space {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  margin: 5px;
  line-height: 35px;
  border: 5px solid #4444ff;
  font-family: "Arial", sans-serif;
}

button {
  border-radius: 25px;
  color: #252525;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #77ccff;
  padding: 10px 20px;
  margin: 10px;
}

.marked {
  background-color: #0055cc;
}

.draw-section {
  background-color: #33aaff;
  padding: 5%;
}

#bingo-numbers {
  margin-top: 15%;
}

#message-container {
  margin-top: 15%;
  color: #33ccff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
